<style>
  .row {
    padding: 20px;
    font-family: "arial rounded mt";
    font-size: 26px;
    color: white;
  }
</style>

<div
  class="container-fluid"
  style="
    padding: 100px;
    border-style: double;
    border-color: black;
    border-width: 5px;
    background-color: rgb(47, 47, 177);
  "
>
  <h1 style="text-align: center; font-family: arial rounded mt; color: white">
    LOG IN
  </h1>

  <div class="row">
    <label for="name">Enter the user name:</label><br />
    <input type="text" name="name" />
  </div>

  <div class="row">
    <label for="pwd">Enter the password:</label><br />
    <input type="password" name="pwd" />
  </div>

  <p style="text-align: center">
    <button class="btn btn-primary" type="submit">LOG IN :)</button>
  </p>
</div>
