<div
  class="row align-items-center"
  style="padding: 50px; background-color: rgb(47, 47, 177)"
  id="rechargeNpay"
>
  <div class="col-md-12">
    <div class="row">
      <label
        style="
          font-size: 35px;
          font-family: arial rounded mt;
          background-color: rgb(47, 47, 177);
          color: white;
        "
      >
        Recharge and Pay Bills on EazyPay
      </label>
    </div>
    <br />
    <div class="row">
      <div class="col-md-2">
        <a href=""
          ><img
            src="https://assetscdn1.paytm.com/images/catalog/view_item/733299/1626251017535.png"
            alt="" /></a
        ><br />
        <label class="features">Recharge Mobile</label>
      </div>
      <div class="col-md-2">
        <a href=""
          ><img
            src="https://assetscdn1.paytm.com/images/catalog/view_item/733300/1626778824903.png"
            alt="" /></a
        ><br />
        <label class="features">Pay Rent Payment</label>
      </div>
      <div class="col-md-2">
        <a href=""
          ><img
            src="https://assetscdn1.paytm.com/images/catalog/view_item/733308/1626251043534.png"
            alt="" /></a
        ><br />
        <label class="features">Pay Electricity Bills</label>
      </div>
      <div class="col-md-2">
        <a href=""
          ><img
            src="https://assetscdn1.paytm.com/images/catalog/view_item/733311/1626251101045.png"
            alt="" /></a
        ><br />
        <label class="features">Recharge DTH</label>
      </div>
      <div class="col-md-2">
        <a href=""
          ><img
            src="https://assetscdn1.paytm.com/images/catalog/view_item/733304/1627454209116.png"
            alt="" /></a
        ><br />
        <label class="features">Pay Credit Card Bills</label>
      </div>
      <div class="col-md-2">
        <a href=""
          ><img
            src="https://assetscdn1.paytm.com/images/catalog/view_item/733307/1626251127863.png"
            alt="" /></a
        ><br />
        <label class="features">Book Gas Cylinder</label>
      </div>
    </div>
  </div>
</div>

<div
  class="row align-items-center"
  style="padding: 50px; background-color: rgb(21, 21, 111)"
  id="bookNbuy"
>
  <div class="col-md-12">
    <div class="row">
      <label
        style="
          font-size: 35px;
          font-family: arial rounded mt;
          background-color: rgb(21, 21, 111);
          color: white;
        "
      >
        Book & Buy on EazyPay
      </label>
    </div>
    <br />
    <div class="row">
      <div class="col-md-2" style="background-color: rgb(21, 21, 111)">
        <a href=""
          ><img
            src="https://assetscdn1.paytm.com/images/catalog/view_item/733295/1626259710574.png"
            height="130px"
            alt="" /></a
        ><br />
        <label class="features">Movie Tickets</label>
      </div>
      <div class="col-md-2" style="background-color: rgb(21, 21, 111)">
        <a href=""
          ><img
            src="https://assetscdn1.paytm.com/images/catalog/view_item/733296/1626259884425.png"
            height="130px"
            alt="" /></a
        ><br />
        <label class="features">Flight Tickets</label>
      </div>
      <div class="col-md-2" style="background-color: rgb(21, 21, 111)">
        <a href=""
          ><img
            src="https://assetscdn1.paytm.com/images/catalog/view_item/729996/1626260477699.png"
            height="130px"
            alt="" /></a
        ><br />
        <label class="features">Bus Tickets</label>
      </div>
      <div class="col-md-2" style="background-color: rgb(21, 21, 111)">
        <a href=""
          ><img
            src="https://assetscdn1.paytm.com/images/catalog/view_item/729997/1626260495975.png"
            height="130px"
            alt="" /></a
        ><br />
        <label class="features">Train Tickets</label>
      </div>
      <div class="col-md-2" style="background-color: rgb(21, 21, 111)">
        <a href=""
          ><img
            src="https://assetscdn1.paytm.com/images/catalog/view_item/729999/1626259968563.png"
            height="130px"
            alt="" /></a
        ><br />
        <label class="features">International Flights</label>
      </div>
      <div class="col-md-2" style="background-color: rgb(21, 21, 111)">
        <a href=""
          ><img
            src="https://assetscdn1.paytm.com/images/catalog/view_item/730001/1626450848003.png"
            height="130px"
            alt="" /></a
        ><br />
        <label class="features">Invest in Stocks</label>
      </div>
    </div>
  </div>
</div>
